Options -Indexes

<Files "config.php">
  Require all denied
</Files>

<Files ".secrets.php">
  Require all denied
</Files>

<Files "secrets.php">
  Require all denied
</Files>

<Files "secrets - cópia.php">
  Require all denied
</Files>

<Files "config - cópia.php">
  Require all denied
</Files>

<Files "asaas_log.txt">
  Require all denied
</Files>

<FilesMatch "\.(log|txt)$">
  Require all denied
</FilesMatch>

<FilesMatch "^(.*secrets.*|.*config.*)\.php$">
  Require all denied
</FilesMatch>
